#shopDetail{
	overflow: hidden;
}
.Detail_title{
	height:4.266667rem;
	overflow:hidden;
	padding:0.32rem;
	width:100%;
	background:#de8108;
	color:#fff; 
	font-size: 0.64rem;
	text-align: center;
	position: relative;
}
.top_img{
	float:left;
	width: 3.2rem;
	height:3.2rem;
	border-radius: 0.426667rem;
}
.title_wrap{
	float:left;
	height: 3.2rem;
	margin-left:0.426667rem;
	width: 10.666667rem;
}
.top_Tit{
	font-weight: bolder;
	text-align: left;
	line-height: 1.28rem;
}
.tit_tips{
	margin-top:0.106667rem;
	font-size: 0.533333rem;
	text-align: left;
	line-height:0.853333rem;
}
.active{
	float:left;
	border-radius: 50%;
	text-align: center;
	width:0.853333rem;
	height:0.853333rem;
	line-height:0.853333rem; 
	background:#e7133b;
}
.tap_box{
	width:100%;
	height:1.706667rem;
	box-shadow: 0 1px 0 0 #666;
	display:flex;
}
.tap_box p{
	flex:1;
	text-align: center;
	font-size:0.66667rem;
	font-weight: bold;
	line-height:1.706667rem; 
}
.tap_box p a{
	display:block;
	margin:0.213333rem auto;
	width:1.4rem;
	height:1.28rem;
	line-height:1.28rem;
	border-bottom:solid 1px #fff;
}
.tap_box p a:hover{
	color:#0cd2f6;
	border-bottom:solid 1px #0cd2f6;
}
.promotion_info,.info{
	position: absolute;
	width:100%;
	height:0.853333rem;
	left:0;
	bottom:0;
	font-size: 0.426667rem;
	line-height: 0.853333rem;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background:#666;
	opacity: 0.5;
}
.info{
	z-index:4;
}
.promotion_info{
	z-index: 5;
	background: none;
	opacity: 1;
}
.promotion{
	background:#ede6e6;
	float:left;
	width: 1.28rem;
	line-height:0.64rem; 
	border-radius: 0.106667rem;
	height:0.64rem;
	color:#666;
	margin:0.106667rem 0 0.106667rem 0.64rem;
}
.shopInner{
	position: relative;
	height:80%
}
.shoppingDop,.shopHostDop{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	display:block;
}
.shopHostDop{
	background:yellow;
	display:none;
}
.shopDop_left{
	width:25%;
	height:100%;
	float:left;
	background:#666;
	position: relative;
	overflow: hidden;
}
.shopDop_left li{
	width:100%;
	height:2.56rem;
	background:#e9e2e2;
	text-align: center;
	line-height: 2.56rem;
	font-size: 0.6rem;
	font-weight: bolder;
	color:#b0b0b0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left:solid 2px #ccc;
	box-sizing: border-box;
}
.shopDop_right{
	width:75%;
	height:100%;
	float:left;
	position: relative;
	overflow: hidden;
}
.List_name{
	width:100%;
	height:1.28rem;
	background:#b0b0b0;
	overflow:hidden;
	color:#333;
}
.List_name b{
	font-size: 0.64rem;
	line-height: 1.28rem;
	font-weight: bolder;
	margin-left:0.426667rem;
	margin-right:0.213333rem;
}
.List_name span{
	font-size:0.341333rem;
	line-height: 1.28rem;
}
.List_detail{
	width:100%;
	height:auto;
	overflow:hidden;
}
.List_detail dt,.List_detail dt img{
	float:left;
	width:2.986667rem;
	height:2.986667rem;
}
.List_detail dd{
	float:left;
	height:4.266667rem;
	width:8.533333rem;
	margin-left:0.213333rem;
}
.List_detail dd p{
	margin-top:0.213333rem;
	line-height:0.746667rem;
	font-size:0.6rem;
	font-weight: bold;
}
.List_detail dd .sel{
	line-height: 0.533333rem;
	font-size: 0.3rem;
	font-weight: normal;
}

.List_detail dd .price{
	margin-top:0.64rem;
	line-height: 0.533333rem;
	font-size: 0.6rem;
	font-weight: normal;
	position: relative;
}
.List_detail dd .price span{
	font-size: 0.853333rem;
	font-weight: bold;
	color:#f23d0c;
}
.List_detail dd .price i{
	position: absolute;
	right:0;
	top:-0.426667rem;
	float:right;
	font-size: 1rem;
	color:#fff;
	width:4.266667rem;
}
.List_detail dd .price i em{
	float:right;
	margin-right:0.32rem;
	border-radius: 50%;
	line-height: 1rem;
	text-align: center;
	height:1rem;
	width:1rem;
	background:#ef3162;
}